/**
  bgboardapp.css
  designed by hinacoppy 2019
*/

/* document outline ----------------------------------------- */
*{
  user-select:none;
}
html{
  height: 100%;
  overflow: hidden;
  overscroll-behavior: none;
}
body{
  margin: 0;
  padding: 0;
  min-height: 100%;
  height: 100%;
  font-family:'Arial', 'Meiryo UI';
}

/* Grid Layout settings ------------------------------------- */
/* 以下すべて相対サイズにし、レスポンシブ対応可能にしておく */

.container{
  position: relative;
/*  margin: 2vw 2vh;*/
/*  background-image: url("board.png");  /* 画像ファイルの指定 */
/*  background-position: center center;  /* 画像を常に天地左右の中央に配置 */
/*  background-repeat: no-repeat;  /* 画像をタイル状に繰り返し表示しない */
/*  background-attachment: fixed;  /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
/*  background-size: 100vw 100vh;  /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
/*  background-color: #cfc;  /* 背景画像が読み込まれる前に表示される背景のカラー */


  display: grid; /* Grid Layout でコンテンツを配置 */
  grid-template-columns: 36vw 6vw 36vw 6vw 16vw;
  grid-template-rows: 30vh 34vh 30vh;
  grid-template-areas:
     'area1   bar area2   boff2 player2'
     'centr_l bar centr_r none  nav'
     'area4   bar area3   boff1 player1';
  justify-items: auto; /* 横方向は中央に */
  align-items: auto;
}
#board{
  position: absolute;
  width: 84vw;
  height: 100vh;
  grid-row: 1 / 5;
  grid-column: 1 / 4;
  background-color: #ffc;
  z-index: -2;
}
#center_left{
  position:relative;
  grid-area: centr_l;
/*  text-align: center;*/
  background-color: #efe;
  opacity: 0.55;
  width: 100%;
  height: 100%;
}
#center_right{
  position:relative;
  grid-area: centr_r;
/*  text-align: center;*/
  background-color: #ccf;
  opacity: 0.55;
  width: 100%;
  height: 100%;
}
#bar{
  grid-area: bar;
/*  position: absolute;*/
  width: 6vw;
  height: 100vh;
  background-color: #670;
  z-index: -1;
  opacity: 0.5;
}
#offtray1{
  grid-area: boff1;
/*  position: absolute;*/
  align-self: end;
  width: 6vw;
  height: 100%;
  border: 3px solid #330;
  background-color: #760;
  z-index: -1;
  opacity: 0.5;
}
#offtray2{
  grid-area: boff2;
/*  position: absolute;*/
  align-self: start;
  width: 6vw;
  height: 40vh;
  border: 3px solid #330;
  background-color: #760;
  z-index: -1;
  opacity: 0.5;
}
#player1{
  grid-area: player1;
  justify-self: end;
  align-self: end;
}
#player2{
  grid-area: player2;
  justify-self: end;
  align-self: start;
  background-color: #ccf;
  opacity: 0.55;
}
#nav{
  grid-area: nav;
  justify-self: end;
  align-self: center;
}
.playerinfo{
  transform: rotateZ(-90deg);
  text-align: center;
/*    display: flex;
/*    justify-content: center;*/
/*    align-items: center;*/
}
.nav{
  transform: rotateZ(-90deg);
  text-align: center;
/*    display: flex;
/*    justify-content: center;*/
    align-items: center;
  background-color: #fcc;
  opacity: 0.55;

}
#settingbtn{
/*  grid-area: settingbtn;
/*  background-color: pink;*/
/*  color: black;*/
/*  width: 4vh;*/
/*  height: 4vw;*/
/*  line-height: 4vw;*/
/*  text-align: center;*/
/*  font-size:2vw;*/
}
.score{
  display: block;
  background-color: gray;
  color: white;
  width: 20vh;
  height: 5vw;
  line-height: 5vw;
  text-align: center;
  font-size:5vw;
}
.pip{
  display: block;
  background-color: #4aa;
  color: white;
  width: 10vh;
  height: 3vw;
  line-height: 3vw;
  text-align: center;
  font-size:1vw;
}

.clock{
  display: none;
}

.cubeclass{
  position:absolute;
/*  width:10vw;
  height: 10vw;*/
/*  background-color:#ddf;*/
  color: #6fe;
  font-size:5vw;
}
.cubeoffer{
  color: violet;
/*  background-color: violet;*/
}

.dice{
  position:absolute;
/*  width:10vw;
  height: 10vw;*/
  font-size:5vw;
}
.stack{
  position: absolute;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  font-size: 2vw;
  padding-top: 2px;
  line-height: 6vw;
  width: 5vw;
  z-index: 30;
  pointer-events: none;
}

.cubecenter{
  transform: rotateZ(-90deg);
}
.turn1{
  transform: rotateZ(0deg);
}
.turn2{
  transform: rotateZ(180deg);
}
.col_player1{
  color: #9ce;
}
.col_player2{
  color: #456;
}
.chequer{
  position:absolute;
/*  width:10vw;
  height: 10vw;*/
  font-size:5vw;
}
.oparationbtn{
/*  display: inline-block;*/
  background-color:#adf;
  border:3px solid #29f;
  color:#29f;
  border-radius:20px;
  padding:2vh 2vw;
  font-size:2vw;
}
.area{
  position:absolute;
/*  display:none;*/
}
/* settingwindow decorations ------------------------------------- */
.settings{
  position: absolute;
  display: none;
  z-index: 99;
  background-color: #dff;
  border: 3px solid #00f;
  padding: 2vh 4vw;
  font-size: 1.8vw;
}
.popuptitle{
  font-size: 2.2vw;
  color: #fff;
  background-color: #46f;
  padding: 2vh 2vw;
  margin-bottom: 2vh;
}
/* toggle switch ----------------------------------------- */
input {
/*  position: absolute;
  left: -9999px;*/
display: none;
}

.togglelabel {
  display: block;
width: 300px;
  position: relative;
/*  margin: 20px;*/
  padding: 15px 30px 15px 62px;
  border: 3px solid #fff;
  border-radius: 100px;
  color: #fff;
  background-color: #999;  /*#6a8494;*/
/*  box-shadow: 0 0 20px rgba(0, 0, 0, .2);*/
  white-space: nowrap;
/*  cursor: pointer;
  user-select: none;*/
  transition: background-color .2s, box-shadow .2s;
}

.togglelabel::before {
  content: '';
  display: block;
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  width: 32px;
  border: 3px solid #fff;
  border-radius: 100px;
  transition: background-color .2s;
}

.switch:checked + label {
  background-color: #29f; /*#ab576c;*/
}

.switch:checked + label::before {
  background-color: #fff;
}

